body {
    margin: 0px;
    padding: 0px;
    height: 700px;
    
}

.container {
    font-size: 11px !important;
    width: 980px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
    background-color: #F4F4F4;
}

.topo {
    background-color: rgb(130, 197, 252);
    height: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    border: 1px solid #080808;
}

.topo h2 {
    text-align: center;
    line-height: 100px;
}

.index {
    height: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: 310px 370px 160px;
    font-size: 14px;
}

#menu {
    background-color: rgb(167, 211, 248);
    height: 80px;
    border-bottom: 1px solid #080808;
}
